<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a routerLink="" class="-m-1.5 p-1.5">
        <span class="sr-only">TMDB</span>
        <p class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">TMDB</p>
        <p class="text-sm font-semibold leading-6 text-gray-900">The Movie DataBase</p>
      </a>
    </div>
    <div class="flex lg:hidden">
    </div>
    <div class="lg:flex lg:gap-x-12">
      <a routerLink="/popular" class="text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Popular</a>
      <a routerLink="/search" class="text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Search</a>
    </div>
  </nav>
</header>
