<div class="max-w-md mx-auto p-5">
  <form [formGroup]="commentForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h6 class="pb-3 text-lg font-semibold text-indigo-600">Leave a comment</h6>
    <div class="mb-4">
      <label for="authorEmail" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
      <input type="text" id="authorEmail" formControlName="authorEmail" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-6">
      <label for="text" class="block text-gray-700 text-sm font-bold mb-2">Message:</label>
      <textarea aria-multiline="true" formControlName="text" id="text" placeholder="" rows="5" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
    </div>
    <div class="flex items-center justify-between">
      <button type="button" (click)="sendComment()" class="bg-indigo-600 hover:bg-indigo-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Send</button>
    </div>
  </form>
</div>
