<div class="flex justify-center p-5">
  <div class="w-full max-w-screen-lg">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div *ngFor="let movie of popularMovies">
        <a routerLink="/details/{{movie.movieId}}" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 w-72">
          <img class="object-cover w-full rounded-t-lg h-72"
               [src]="'https://image.tmdb.org/t/p/w500' + movie.posterPath" alt="Movie Poster for {{movie.title}}">
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white truncate">{{movie.title}}</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{movie.releaseYear}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

